.board {
  min-height: 94vh;
  width: 100%;
}

.the-boards {
  width: 100%;
  min-height: 94vh;
  display: flex;
  align-items: center;
}

.prev-boards {
  width: 20%;
  background-color: #f7ede4;
  margin: 0px 30px;
  min-height: 80vh;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase {
  width: 70%;
  min-height: 80vh;
  background-color: #f7ede4;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links button {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  background-color: #d8caaf;
  outline: none;
  border: none;
}
