nav {
  display: flex;
  margin: 0px 50px;
  justify-content: space-between;
  height: 6vh;
  align-items: center;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
}

nav .logo {
  font-weight: 600;
}

.home {
  display: flex;  
  min-height: 94vh;
  width: 100%;
}

.links {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.text-half {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pic-half {
  width: 50%;
  display: flex;
}

.text {
  width: 80%;
}

.home h2 {
  font-size: 60px;
  margin: 60px 0px;
}

.home p {
  font-size: 26px;
  margin: 30px 0px;
}

.home button {
  margin: 30px 0px;
  padding: 10px 15px;
  border-radius: 8px;
  outline: none;
  border: 1px solid slategrey;
  background-color: #f7ede4;
}

.home button:hover {
  background-color: whitesmoke;
}

.home button a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.pic-half {
  display: flex;
  flex-direction: column;
}

.top {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 40vh;
}

.bottom {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 40vh;
}

.img1 {
  width: auto;
  height: 90%;
  object-fit: cover;
  border-radius: 20px;
}

.img2 {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.img3 {
  width: 30%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.menu-button{
  margin-left: 150px;
}

@media screen and (max-width: 600px) {
  .home{
    flex-direction: column;
  }
  .pic-half{
    width: 80%;
    align-items: center;
    margin: auto;
    order: 1;
  }
.img2{
  margin-top: 20px;
  width: 100%;
  height: auto;
}

  .text-half {
    width: 80%;
    align-items: center;
    margin: auto;
    order: 2;
  }
  .text > h2{
    font-size: 25px;
  }
  .text > p {
    font-size: 20px;
  }
}